/*--------------Search--------------*/
.Search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30em;
    padding: 1em;
    color: white;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    background-color: rgba(0,0,0,.7);
    -webkit-box-shadow: 5px 5px 5px 0px #111517, inset 4px 4px 15px 0px #111517, 5px 5px 15px 5px rgba(63,63,63,0);
    box-shadow: 5px 5px 5px 0px #111517, inset 4px 4px 15px 0px #111517, 5px 5px 15px 5px rgba(63,63,63,0);
}

.Search-Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Search-Menu-Icon {
    cursor: pointer;
    width: 2em;
    height: 2em;
    margin: 0 0.25em;
}

.Logo {
    height: 3em;
    margin: 0 1em;
}

.Planet {
    cursor: default;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5em auto;
    color: #d7d7d7;
    border-radius: 0.5em;
    box-shadow: 5px 5px 5px 0px #111517, inset 4px 4px 15px 0px #111517, 5px 5px 15px 5px rgba(63,63,63,0);
}

.Planet-Detail {
    flex-basis: 50%;
    background-color: #312828;
}

.Planet-container {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    align-items: center;
}

.Planet-container-img {
    width: 15em;
}
/*
.Planet {
    cursor: default;
    display: flex;
    flex-direction: row;
}

.Planet-container {
    display: flex;
    flex-direction: row;
    background-color: #312828;
    color: #CACACA;
    text-decoration: none;
    padding: 1em 2em;
}

.Planet-container:nth-child(2n){
  background-color: #191818;
}

.Planet-container:hover {
    background-color: #504545;
}

.blue, .blue:hover {
    cursor: default;
    background-color: #111517;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.Planet-ID, .Planet-Title, .Planet-Population {
    display: flex;
    justify-content: center;
    margin: 0 0.25em;
}

.Planet-ID {
    flex-basis: 20%;
}

.Planet-Title {
    flex-basis: 40%;
}

.Planet-Population {
    flex-basis: 40%;
}*/