/*--------------Search--------------*/
.Search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30em;
    padding: 1em;
    color: white;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    background-color: rgba(0,0,0,.7);
    -webkit-box-shadow: 5px 5px 5px 0px #111517, inset 4px 4px 15px 0px #111517, 5px 5px 15px 5px rgba(63,63,63,0);
    box-shadow: 5px 5px 5px 0px #111517, inset 4px 4px 15px 0px #111517, 5px 5px 15px 5px rgba(63,63,63,0);
}

.Search-Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Search-Menu-Icon {
    cursor: pointer;
    width: 2em;
    height: 2em;
    margin: 0 0.25em;
}

.Logo {
    height: 3em;
    margin: 0 1em;
}

.Planet {
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: 5em auto;
    padding: 5em;
    color: #CACACA;
    background-color: #312828;
    border-radius: 0.5em;
    border: 1px solid #504545;
    -webkit-box-shadow: 5px 5px 5px 0px #050607, inset 4px 4px 15px 0px #111517, 5px 5px 15px 5px rgba(63,63,63,0);
    box-shadow: 5px 5px 5px 0px #050607, inset 4px 4px 15px 0px #111517, 5px 5px 15px 5px rgba(63,63,63,0);
}

.Planet-Detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 25%;
}

.Planet-Title {
    margin: 0.5em 0;
}

.Planet-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.Planet-container-img {
    width: 15em;
    height: 15em;
}

@media (max-width: 750px) {
    .Search {
        width: 25em;
    } .Planet {
        width: 95%;
        padding: 0.5em;
    }
}