<section class="Search">
    <div class="Search-Nav">
        <input id="Search-Input" class="Search-Input" [(ngModel)]="PlanetsSearch" (keyup)="SearchName(PlanetsSearch)" type="text" placeholder="Search">
    </div>
    <div class="Search-Menu">
        <img class="Logo" src="../../assets/img/Logo.svg" alt="Logo">
        <a (click)="Home('/home')" routerLinkActive="active">
            <img class="Search-Menu-Icon" src="../../assets/img/home-sign.svg" alt="Home">
        </a>
    </div>
</section>
<table class="Planets">
    <thead class="Planet-container blue">
        <tr class="Planet-ID">
            <th>ID</th>
        </tr>
        <tr class="Planet-Title">
            <th>Name</th>
        </tr>
        <tr class="Planet-Population">
            <th>Population</th>
        </tr>
    </thead>
    <tbody>
        <a class="Planet-container" *ngFor="let Planet of Planets" [routerLink]="['/detail', Planet.id]">
            <tr class="Planet-ID">
                <th>{{Planet.id}}</th>
            </tr>
            <tr class="Planet-Title">
                <th>{{Planet.name}}</th>
            </tr>
            <tr class="Planet-Population">
                <th>{{Planet.population}}</th>
            </tr>
        </a>
    </tbody>
</table>


