<section class="Search">
    <div class="Search-Nav">
        <input id="Search-Input" class="Search-Input" [(ngModel)]="PlanetsSearch" (keyup)="SearchName(PlanetsSearch)" type="text" placeholder="Search">
    </div>
    <div class="Search-Menu">
        <img class="Logo" src="../../assets/img/Logo.svg" alt="Logo">
        <a (click)="Home('/home')" routerLinkActive="active">
            <img class="Search-Menu-Icon" src="../../assets/img/home-sign.svg" alt="Home">
        </a>
    </div>
</section>
<section class="Planets">
    <article class="Planet-container blue">
        <div class="Planet-ID">
            <h2>ID</h2>
        </div>
        <div class="Planet-Title">
            <h2>Name</h2>
        </div>
        <div class="Planet-Population">
            <h2>Population</h2>
        </div>
    </article>
    <article class="Planet-container" *ngFor="let Planet of Planets">
        <a class="Planet-Title" [routerLink]="['/detail', Planet.name]">
            <h2>{{Planet.name}}</h2>
        </a>
        <div class="Planet-Population">
            <h2>{{Planet.population}}</h2>
        </div>
                <div class="Planet-ID">
                    <h2>{{Planet.id}}</h2>
                </div>
    </article>
</section>


