<!---
<video class="Earth" id="bgvid" playsinline autoplay muted loop>
    <source src="../../assets/video/earth.mp4" type="video/mp4">
</video>
<section class="Home-Intro">
    <h2 class="Home-Intro-Header">Our planet is <span class="Home-Intro-Header-Earth"><br>Earth</span></h2>
    <div class="Home-Intro-Footer">
        <svg version="1.1" class="Arrow-bottom" id="Arrow-bottom" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512.043 512.043" style="enable-background:new 0 0 512.043 512.043;" xml:space="preserve">
            <g transform="translate(0 -1)">
	            <g>
		            <g>
			            <path d="M368.936,241.958L256.021,354.873L143.106,241.958c-13.439-13.439-36.418-3.921-36.418,15.085v108.139 c0,5.701,2.282,11.164,6.336,15.172l128,126.528c8.311,8.215,21.684,8.215,29.995,0l128-126.528 c4.054-4.008,6.336-9.471,6.336-15.172V257.043C405.355,238.037,382.376,228.519,368.936,241.958z M362.688,356.272 l-106.667,105.44l-106.667-105.44v-47.727l91.582,91.582c8.331,8.331,21.839,8.331,30.17,0l91.582-91.582V356.272z"/>
			            <path d="M368.936,7.291L256.021,120.206L143.106,7.291c-13.439-13.439-36.418-3.921-36.418,15.085v108.139 c0,5.701,2.282,11.164,6.336,15.172l128,126.528c8.311,8.215,21.684,8.215,29.995,0l128-126.528 c4.054-4.008,6.336-9.471,6.336-15.172V22.376C405.355,3.37,382.376-6.148,368.936,7.291z M362.688,121.606l-106.667,105.44 l-106.667-105.44V73.879l91.582,91.582c8.331,8.331,21.839,8.331,30.17,0l91.582-91.582V121.606z"/>
		            </g>
	            </g>
            </g>
        </svg>
    <h2 class="Home-Intro-Footer-Text">If you're curious about our beautiful planet, scroll down!</h2>
    </div>
</section>
<section>
    <img src="../../assets/img/EarthHome-1080-1920.jpg" alt="Earth in Glass">
    <img src="../../assets/img/EarthHome2-1080-1920.jpg" alt="Earth in Hand">




    <p class="A">
Earth is the third planet in our system. For all people it is a unique place to live, but for the universe it is only one small point. Our star is an average sphere of gas, which is full in our galaxy. The Earth is the only planet in the Solar System that is covered by water in a liquid state. As much as 71% of our planet's surface are oceans and seas, which are subject to high tides and outflows caused by our natural satellite - the Moon, and the Sun. It has flattened poles, which is why it is not a sphere and so-called geoid. The magnetic field produced by the Earth protects us through lethal solar and cosmic rays. The rotating planet provide by light and darkness, day and night.
</p>
</section>
------>
<main class="Home">
  <div id="Home" class="Home-container">
    <section class="Home-Intro Page">
        <video class="Earth" id="bgvid" playsinline autoplay muted loop>
            <source src="../../assets/video/earth.mp4" type="video/mp4">
        </video>
        <article class="TextFadeInOut">
            <h2 class="Home-Intro-Header">Our planet is <span class="Home-Intro-Header-Earth"><br>Earth</span></h2>
            <div class="Home-Intro-Footer">
                <svg version="1.1" class="Arrow-Bottom" id="Arrow-Bottom" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.043 512.043" style="enable-background:new 0 0 512.043 512.043;" xml:space="preserve">
                    <g transform="translate(0 -1)">
	                    <g>
		                    <g>
			                    <path d="M368.936,241.958L256.021,354.873L143.106,241.958c-13.439-13.439-36.418-3.921-36.418,15.085v108.139 c0,5.701,2.282,11.164,6.336,15.172l128,126.528c8.311,8.215,21.684,8.215,29.995,0l128-126.528 c4.054-4.008,6.336-9.471,6.336-15.172V257.043C405.355,238.037,382.376,228.519,368.936,241.958z M362.688,356.272 l-106.667,105.44l-106.667-105.44v-47.727l91.582,91.582c8.331,8.331,21.839,8.331,30.17,0l91.582-91.582V356.272z"/>
    			                <path d="M368.936,7.291L256.021,120.206L143.106,7.291c-13.439-13.439-36.418-3.921-36.418,15.085v108.139 c0,5.701,2.282,11.164,6.336,15.172l128,126.528c8.311,8.215,21.684,8.215,29.995,0l128-126.528 c4.054-4.008,6.336-9.471,6.336-15.172V22.376C405.355,3.37,382.376-6.148,368.936,7.291z M362.688,121.606l-106.667,105.44 l-106.667-105.44V73.879l91.582,91.582c8.331,8.331,21.839,8.331,30.17,0l91.582-91.582V121.606z"/>
        		            </g>
	                    </g>
                    </g>
                </svg>
                <h2 class="Home-Intro-Footer-Text">If you're curious about our beautiful planet, scroll down!</h2>
            </div>
        </article>
    </section>
    <section class="Home-Info Page">
      <article class="TextFadeInOut">
        <div class="Home-Info-Img">
            <img class="Home-Info-Img-1" src="../../assets/img/Home-Info-1-1080-1920.jpg" alt="Earth in Glass">
            <img class="Home-Info-Img-2" src="../../assets/img/Home-Info-2-1275-1920.jpg" alt="Earth in Hand">
        </div>
        <p class="A">Earth is the third planet in our system. For all people it is a unique place to live, but for the universe it is only one small point. Our star is an average sphere of gas, which is full in our galaxy. The Earth is the only planet in the Solar System that is covered by water in a liquid state. As much as 71% of our planet's surface are oceans and seas, which are subject to high tides and outflows caused by our natural satellite - the Moon, and the Sun. It has flattened poles, which is why it is not a sphere and so-called geoid. The magnetic field produced by the Earth protects us through lethal solar and cosmic rays. The rotating planet provide by light and darkness, day and night.</p>
      </article>
    </section>
    <section class="Home-More Page">
      <article class="TextFadeInOut">
        <h2>The third page</h2>
        <p>Try: Scroll the page; Click the white dots on the right side; Resize the window; View it on a mobile browser.</p>
      </article>
    </section>
    <section class="Home-Details Page">
      <article class="TextFadeInOut">
        <h2>The third page</h2>
        <p>Try: Scroll the page; Click the white dots on the right side; Resize the window; View it on a mobile browser.</p>
      </article>
    </section>
  </div>
</main>