<main class="Home">
    <div id="Home" class="Home-container">
        <section class="Search">
            <div class="Search-Nav">
                <input class="Search-Input" [(ngModel)]="PlanetsSearch" type="text" placeholder="Search">
                <div class="Search-Bar">
                    <button class="Search-Btn" type="submit" (click)="GoToSearch('/search')">
                        <div class="Circle"></div>
                        <span class="Wing"></span>
                    </button>
                </div>
            </div>
            <h2 class="Search-Text">If you already know everything about our Earth, try to look for another planet!</h2>
        </section>
        <section class="Home-Intro Page">
            <video class="Earth" id="bgvid" playsinline autoplay muted loop>
                <source src="../../assets/video/earth.mp4" type="video/mp4">
            </video>
            <article class="TextFadeInOut">
                <h2 class="Home-Intro-Header">Our planet is <span class="Home-Intro-Header-Earth"><br>Earth</span></h2>
                <div class="Home-Intro-Footer">
                    <svg version="1.1" class="Arrow-Bottom" id="Arrow-Bottom" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.043 512.043" style="enable-background:new 0 0 512.043 512.043;" xml:space="preserve">
                        <g transform="translate(0 -1)">
	                        <g>
		                        <g>
			                        <path d="M368.936,241.958L256.021,354.873L143.106,241.958c-13.439-13.439-36.418-3.921-36.418,15.085v108.139 c0,5.701,2.282,11.164,6.336,15.172l128,126.528c8.311,8.215,21.684,8.215,29.995,0l128-126.528 c4.054-4.008,6.336-9.471,6.336-15.172V257.043C405.355,238.037,382.376,228.519,368.936,241.958z M362.688,356.272 l-106.667,105.44l-106.667-105.44v-47.727l91.582,91.582c8.331,8.331,21.839,8.331,30.17,0l91.582-91.582V356.272z"/>
    			                    <path d="M368.936,7.291L256.021,120.206L143.106,7.291c-13.439-13.439-36.418-3.921-36.418,15.085v108.139 c0,5.701,2.282,11.164,6.336,15.172l128,126.528c8.311,8.215,21.684,8.215,29.995,0l128-126.528 c4.054-4.008,6.336-9.471,6.336-15.172V22.376C405.355,3.37,382.376-6.148,368.936,7.291z M362.688,121.606l-106.667,105.44 l-106.667-105.44V73.879l91.582,91.582c8.331,8.331,21.839,8.331,30.17,0l91.582-91.582V121.606z"/>
        		                </g>
    	                    </g>
                        </g>
                    </svg>
                    <h2>If you're curious about our beautiful planet, scroll down!</h2>
                </div>
            </article>
        </section>
        <section class="Home-Info Page">
            <article class="TextFadeInOut Home-Info-Text">
                <p>Earth is the third planet in our system. For all people it is a unique place to live, but for the universe it is only one small point. Our star is an average sphere of gas, which is full in our galaxy. The Earth is the only planet in the Solar System that is covered by water in a liquid state. As much as 71% of our planet's surface are oceans and seas, which are subject to high tides and outflows caused by our natural satellite - the Moon, and the Sun. It has flattened poles, which is why it is not a sphere and so-called geoid.</p>
            </article>
            <div class="Home-Info-Img">
                <div id="globe" class="globe">
                    <div id="clouds1" class="clouds clouds1"></div>
                    <div id="clouds2" class="clouds clouds2"></div>
                </div>
            </div>
        </section>
        <section class="Home-More Page">
            <div class="Home-More-Img">
                <img class="Home-More-Img-1" src="../../assets/img/Home-More-1275-1920.jpg" alt="People">
            </div>
            <article class="TextFadeInOut Home-More-Text">
                <p>The magnetic field produced by the Earth protects us through lethal solar and cosmic rays. The rotating planet provide by light and darkness, day and night. The earth is surrounded by a gas coat called the atmosphere. It reaches theoretically up to 35 thousand kilometers, but practically ends at 4,000 kilometers. It is divided into five layers, successively called troposphere, stratosphere, mesosphere, ionosphere and exosphere. In the troposphere, which accounts for 80% of the entire atmosphere, we observe a temperature drop with an increase in height by an average of 6oC per 1 km. The stratosphere has a constant temperature of -55 ° C, while in the mesosphere the temperature initially rises to 0 ° C, then it decreases to -68 ° C. On the contrary, it happens on the surface of the planet. Here, as the depth increases, the temperature rises by an average of 3oC per 100m.</p>
            </article>
        </section>
        <section class="Home-Details Page">
            <article class="TextFadeInOut Home-Details-Text">
                <h2>PHYSICAL PROPERTIES OF THE PLANET</h2>
                <p>The average distance from the Sun: <strong>149 600 000 km (1 AU)</strong></p>
                <p>Equatorial diameter: <strong>12 756,284 km</strong></p>
                <p>The polar diameter: <strong>12 713,514 km</strong></p>
                <p>Weight (x1024): <strong>5,9742</strong></p>
                <p>Average density: <strong>5,52 g/cm3</strong></p>
                <p>Rotation period: <strong>23h 56min 4,099s</strong></p>
                <p>Circulation period: <strong>365d 5h 48min 46s</strong></p>
                <p>Circulation speed: <strong>29,785 km/s</strong></p>
                <p>Equatorial acceleration gravity: <strong>9,81 m/s2</strong></p>
                <p>Equatorial speed escape: <strong>11,18 km/s</strong></p>
                <p>Atmospheric pressure: <strong>0,1 MPa</strong></p>
                <p>Surface temperature: <strong>15oC</strong></p>
            </article>
        </section>
    </div>
</main>